.wrap{
    text-align: center;
    letter-spacing: 5px;
    line-height: 200%;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
div>ul{
    
    width: 100%;
    height: 30%;
    position: absolute;
    left: 30%;
    top:30%;
}
li{
    list-style: none;
    text-align: center;
    letter-spacing: 5px;
    line-height: 200%;
    background-color: beige;
    
}
div>ul>li{
    float: left;
    background-color: aqua;
}
